# Customer Churn Analysis & Prediction in TELCO Sector

## Project Overview
This project aim at identify customers who will be canceling their subscription or failing to renew within a set period.
   
   - Voluntary Churn: Customer that decides to leave(dissatisfaction, price).
   - Involuntary Churn: Paymenent failure or expired credit cards.
   
Why Churn matters:
  - Customer Lifetime Value(CLV): High churn decreases total revenue overtime.
  - Helps in planning company growth.
  - it acts as a feedback loop. if churn is high the product is not solving the problem.
  - Cost efficience. Retention is cheaper than acquiring new customers

In [21]:
#Importing neccessay libraries
import io
import requests

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
#Useful functions for accessing remote files stored on github

def get_raw_github_url(url: str) -> str:
    """
    Converts a standard GitHub file URL into a raw URL.
    Example: 
    'https://github.com/user/repo/blob/main/data.csv' 
    -> 'https://raw.githubusercontent.com/user/repo/main/data.csv'
    """
    if 'raw.githubusercontent.com' in url:
        return url
    
    return url.replace('github.com', 'raw.githubusercontent.com').replace('/blob/', '/')

def load_github_data(url: str) -> pd.DataFrame:
    """
    Loads a CSV from a public GitHub repo into a DataFrame.
    """
    raw_url = get_raw_github_url(url)
    try:
        df = pd.read_csv(raw_url)
        print(f"Successfully loaded data from: {raw_url}")
        return df
    except Exception as e:
        print(f"Error loading data: {e}")
        return None

In [23]:
# Reading data set
url = 'https://github.com/EAhadzi-byte/Churn_Analysis/blob/main/WA_Fn-UseC_-Telco-Customer-Churn%202.csv'

df = load_github_data(url)

df.head()

Successfully loaded data from: https://raw.githubusercontent.com/EAhadzi-byte/Churn_Analysis/main/WA_Fn-UseC_-Telco-Customer-Churn%202.csv

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# *Data Cleaning and Preparation*

In [24]:
# Finding all the necessary information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

- From the data we can notice that there are 7,043 rows and 21 columns.
- There are 3 numeric columns and 18 object (categorical) columns.
- TotalCharges is an object but should be a float.
- Churn is currently an 'object'('yes'/'No'). Models need this to be 1 or 0.

In [25]:
# Fix the TotalCharges object-to-float 
df['TotalCharges'] = df['TotalCharges'].replace(' ',np.nan)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

#Check how many NaNs we created
df['TotalCharges'].isnull().sum()

np.int64(11)

In [26]:
#Fill missing TotalCharges values with 0, low tenure (new_customers)
df[df["TotalCharges"].isnull()][["tenure", 
                                 "MonthlyCharges", 
                                 "TotalCharges"]].head()

      tenure  MonthlyCharges  TotalCharges
488        0           52.55           NaN
753        0           20.25           NaN
936        0           80.85           NaN
1082       0           25.75           NaN
1340       0           56.05           NaN

In [27]:
# Convert Churn to binary
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
df['Churn'].value_counts()

Churn
0    5174
1    1869
Name: count, dtype: int64

In [28]:
# Checking for duplicate
df.duplicated().sum()

np.int64(0)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7043 non-null   int64
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

## Summary of the Data Cleaning.

- Corrected the TotalCharge Datetype to numeric
- filling in all the null/Missing values in business context(0).
- Converted churn into integers/binary.
- There were no duplicate in out data set

The Data is now clean and ready for next procedure.

In [10]:
# Summary statistics
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges        Churn
count    7043.000000  7043.000000     7043.000000   7032.000000  7043.000000
mean        0.162147    32.371149       64.761692   2283.300441     0.265370
std         0.368612    24.559481       30.090047   2266.771362     0.441561
min         0.000000     0.000000       18.250000     18.800000     0.000000
25%         0.000000     9.000000       35.500000    401.450000     0.000000
50%         0.000000    29.000000       70.350000   1397.475000     0.000000
75%         0.000000    55.000000       89.850000   3794.737500     1.000000
max         1.000000    72.000000      118.750000   8684.800000     1.000000

1. The Churn Rate (The 'Leaving' Factor)
- This tells us that about 26.5% of the customers have left base on one/two of the factors below.
- This indicate a ratio of roughlty 1 in 4 customers walking away and it confirms churn as a significant problem that needs fixing.
  
2. Senior Citizens(Demographic).
About 16% of the customers are of old age.
   Insight: 
- Better competitor offers
- Poor customer services
- Higher support needs
  
3. Tenure (How long they stay)
- Average(32 months):Typical customers have stayed for nearly 3years.
- The Spread( Min 0 to Max 72): New customers are most likely to churn. loyal customers have been with the company for 6years(72 months)

4. Monthly & Total Charges(Revenue)
- The average customer pays $64.76 for a month.

Some pay as little as $18.25 and others pay $118.75. This may discourage customers and cause churn.
- Missing Data. The 'Count' for TotalCharges is 7032 while the others are 7043. This confirm that 11 customers haven't been billed yet(likely because their tenure in 0).